body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #9dce9f;
}

.header img {
  width: 100px;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.2);
}

.header h1 {
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

.nav-one {
  display: flex;
  gap: 10px;
}

.nav-one .btn {
  padding: 15px;
  width: 100px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  font-size: 18px;
}

.nav-one #download {
  background-color: #4caf50;
  border-radius: 10px;
  border: none;
  margin-left: 15px;
  cursor: pointer;
  padding: 10px;
}

.signup {
  color: #4caf50;
  background-color: #f1f1f1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 40px;
  border-radius: 5px;
  width: 300px;
  margin: 10px auto;
  text-align: center;
}

.signup form {
  margin-top: 20px;
}

.signup form input[type="text"],
.signup form input[type="email"],
.signup form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.signup form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.signup form h4 {
  color: #4caf50;
}

.signup form h4 a {
  color: #4caf50;
}

.signup form h4 a span:hover {
  color: #137417;
}

.signup form input[type="submit"]:hover {
  background-color: #198e1f;
}

.login {
  color: #4caf50;
  background-color: #f1f1f1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 40px;
  border-radius: 5px;
  width: 300px;
  margin: 10px auto;
  text-align: center;
}

.login form input[type="text"],
.login form input[type="email"],
.login form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login form h4 {
  color: #4caf50;
}

.login form input[type="submit"]:hover {
  background-color: #45a049;
}

.login form h4 a span:hover {
  color: #177c1a;
}

.login form h4 a {
  color: #4caf50;
}

.login form input[type="submit"]:hover {
  background-color: #45a049;
}

.forgot-password form input[type="submit"]:hover {
  background-color: #177c1a;
}

.hidden {
  display: none;
}

.download-app {
  color: #4caf50;
  background-color: #f1f1f1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 5px;
  width: 960px;
  margin: 10px auto;
  text-align: center;
}

.download-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-options img {
  width: 100px;
}

.link {
  text-decoration: none;
  margin: 5px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.link:hover {
  background-color: #45a049;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  color: white;
  font-size: 18px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  /* position: fixed;
  top: 30px; */
}

.nav-two {
  padding-right: 30px;
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  margin-left: 20px;
  transition: color 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: #4caf50;
  font-size: 24px;
}

.account {
  display: flex;
  align-items: center;
  color: #4caf50;
}

.account img {
  width: 40px;
  margin-right: 5px;
  border-radius: 50%;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  max-width: 500px;
  margin: 30px auto;
  background-color: #f1f1f1;
  border-radius: 20px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.search input {
  font-size: 20px;
  color: #45a049;
  width: 90%;
  padding: 10px 50px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  border: #4caf50 solid 2px;
}

.search #icon {
  padding: 15px;
  color: #45a049;
  font-size: 20px;
  border-radius: 30px;
}

.search #icon:hover {
  color: #072b08;
  cursor: pointer;
  background-color: #cee1cf;
}

.search input:focus {
  outline: none;
}

.note {
  right: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container > div {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 0 25px 0 25px;
}

.resources {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 350px;
  width: 70vh; /* editable */
  background-color: #f1f1f1;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.resources h1 {
  align-self: center;
  background-color: #89c38c;
  border-radius: 5px;
  padding: 6px;
  width: 7em;
  text-align: center;
}

.textbook .grades {
  display: flex;
  justify-content: space-around;
}

.grades h3 {
  color: #14a319;
}

.grade {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 0;
}

.guidebook .types {
  display: flex;
  justify-content: space-around;
}

.types h3 .text {
  color: white;
  font-size: large;
}

.type {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 0;
}

/* Imported from UIverse.io */
.Documents-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 45px;
  border: none;
  padding: 0px 15px;
  border-radius: 5px;
  background-color: #45a049;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.folderContainer {
  width: 40px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.fileBack {
  z-index: 1;
  width: 80%;
  height: auto;
}
.filePage {
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease-out;
}
.fileFront {
  width: 85%;
  height: auto;
  position: absolute;
  z-index: 3;
  opacity: 0.95;
  transform-origin: bottom;
  transition: all 0.3s ease-out;
}
.text {
  color: white;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.Documents-btn:hover .filePage {
  transform: translateY(-5px);
}
.Documents-btn:hover {
  background-color: #072b08;
}
.Documents-btn:active {
  transform: scale(0.95);
}
.Documents-btn:hover .fileFront {
  transform: rotateX(30deg);
}
/* Imported from UIverse.io */

.book {
  text-decoration: none;
  color: #072b08;
  font-size: 20px;
  padding: 3px;
}

.years {
  display: flex;
  justify-content: space-evenly;
}

.tests {
  display: flex;
  justify-content: space-evenly;
}

.schedule {
  color: #4caf50;
  background-color: #f1f1f1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  width: auto;
  text-align: center;
}

.schedule form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule form input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #14a319;
  font-size: 18px;
}

.schedule form textarea {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  min-height: 50px;
  resize: vertical;
  color: #14a319;
  font-size: 18px;
}

.task {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  line-height: 0.5;
}

.check-box {
  width: 20px;
  height: 20px;
}

.task-btn {
  background-color: #19ec20;
  color: white;
  width: 150px;
  padding: 10px 20px;
  margin-right: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
}

.btn-delete:hover {
  background-color: #f56936;
}

.btn-edit:hover {
  background-color: #45a049;
}

.self-notes {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 50vh;
}

.self-notes .note-list {
  background-color: #93f675;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.self-notes .note-list li {
  color: white;
  font-size: 18px;
  text-align: center;
  list-style-type: none;
  padding: 5px;
  width: 80px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #27ba2c;
  cursor: pointer;
}

.self-notes .note-list li:hover {
  background-color: #072b08;
}

.self-notes button {
  background-color: #19ec20;
  color: white;
  width: 100px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
}

.self-notes button:hover {
  background-color: #45a049;
}

.footer {
  background-color: #f1f1f1;
  color: #45a049;
  padding: 20px;
  text-align: center;
}

.footer button {
  background-color: #4caf50;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.feedback form {
  color: #4caf50;
  background-color: #f1f1f1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 40px;
  border-radius: 5px;
  width: 300px;
  margin: 10px auto;
  text-align: center;
}

.feedback form input[type="text"],
.feedback form input[type="email"],
.feedback form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.feedback form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  min-height: 150px;
  resize: vertical;
}

.feedback form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
